<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="navbar">
        {% block navbar %}
		<div id="navbar">
			<ul>
				<li>Вход</li>
				<li>Регистрация</li>
			</ul>
		</div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
