{% extends "unifordummies/base.html" %}

{% load staticfiles %}

{% block title %}Начална страница{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Добре дошли в UniForDummies!</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <img src="{% static 'img/logo.png' %}" alt="UniForDummies Logo" width="250" height="250">
        <ul class="nav nav-stacked">
            {% for cat in spec_cat %}
                <li>
                    <a href="/search/{{cat.id}}">{{cat.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-9">
        <form method="post" action="/search/"> {% csrf_token %}
            {% for cat_cat in spec_cat_cat %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                                {{ cat_cat.name }}
                            </a>
                        </h3>
                    </div>
                    <div id="{{ cat.id }} collapseOne" class="panel-collapse collapse in"
                    <ul class="list-group">
                        {% for cat in cat_cat.categories.all %}
                            <li class="list-group-item">
                                <input type="checkbox" id="{{ cat.id }}-check" name="{{ cat.id }}-cat">
                                <label for="{{ cat.id }}-check">{{ cat.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="col-xs-3 col-xs-offset-4">
                <input class="btn btn-primary btn-lg" type="submit" value="Search" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
