{% extends "default/programme_base.html" %}

{% load staticfiles %}

{% block info %}
  <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-1">
            <div class="row">
              <div class="col-xs-3">
                <a href="#" class="vote-link" data-db-id="{{ post.id }}" data-direction="up"><span class="glyphicon glyphicon-plus"></a>
                <a href="#" class="vote-link" data-db-id="{{ post.id }}" data-direction="down"><span class="glyphicon glyphicon-minus"></a>
              </div>
              <h2 data-votes-id="{{ post.id }}">{{ post.vote }}</h2>
            </div>
          </div>
      </div>
      <div class="list-group-item-text">
          {{ post.text }}
      </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block scripts %}
  <script src="{% static "js/posts-scripts.js" %}"></script>
{% endblock %}
