{% extends "default/base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-xs-3">
      <div class="row">
        <h1 class="title_left">Uni for Dummies</h1>
      </div>
      <div class="row">
        <a href="/">
          <img src="{% static "img/logo.png" %}" alt="UniForDummies Logo" width="250" height="250">
        </a>
      </div>
      <div class="row nav_box">
        <ul class="nav nav-stacked">
          <li> <a href="{% url 'post_category' programme.id 1 %}">Кандидатстване</a> </li>
          <li> <a href="{% url 'post_category' programme.id 2 %}">Материална база</a> </li>
          <li> <a href="{% url 'post_category' programme.id 3 %}">Преподавателски състав</a> </li>
          <li> <a href="{% url 'post_category' programme.id 4 %}">Студенти</a> </li>
          <li> <a href="{% url 'post_category' programme.id 5 %}">Реализация</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <h1 class="title_right">foobarbaz</h1>
      {% block info %}{% endblock %}
    </div>
  </div>
{% endblock %}
