body {
    background-image: url('../img/bg.png');
}

.body_box {
    background-image: none;
}

.nav_box {
    background-color: rgba(204, 204, 204, 0.5);
}

.title_left {
    text-align: center;
}

.title_left .title_right {
    font-family: 'Comfortaa', 'cursive';
    font-weight: 200;
}

.programme_block {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.programme_url {
    color: black;
    padding-left: 30px;
}
